<ion-header>
  <ion-toolbar>
    <ion-title>My Web Apps</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  These are a few of the web apps that I have created and published to Firebase.

  <ion-card *ngFor="let app of webApps">
    <ion-card-header>
      <ion-card-title>{{ app.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ app.description }}</p>
      <p><a [href]="app.url" target="_blank">{{app.url}}</a></p>
    </ion-card-content>
  </ion-card>
</ion-content>
